<div>
  <%= turbo_frame_tag :details do %>
    <div class="p-8">
      <div class="text-center">
        <div class="text-xl">
          <%= t '.title' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
